---
---

@import "{{ site.theme }}";

  .page-header {
    padding: 2rem 6rem;
    /*EN DESSOUS: PARAMÈTRES DE BASE POUR LE FOND DE LA BARRE*/
    color: #fff;
    text-align: left;
    background-color: #159957;
    background-image: url("./fusee.png");
    background-size: cover;
  }

  .project-name {
    font-size: 68px; //Taile du titre de la page
    text-align: left;
  }

  .project-tagline {
    font-size: 32px; //Taille du sous-titre de la page
    text-align: left;
  }

  .btn { //Couleur des boutons
    background-color: #2A6907;
    color: #FFFFFF;
    border-color: #215405;
  }

  .btn:hover { //Couleur des boutons quand on passe la souris dessus
    background-color: #215405;
    color: #FFFFFF;
    border-color: #193F04;
  }
