---
---

@import "{{ site.theme }}";

  .page-header {
    padding: 2rem 6rem;
    /*EN DESSOUS: PARAMÈTRES DE BASE POUR LE FOND DE LA BARRE*/
    color: #fff;
    text-align: left;
    background-color: #159957;
    background-image: url("./fusee.png");
    background-size: cover;
  }

  .project-name {
    font-size: 68px; //Taile du titre de la page
    text-align: left;
  }

  .project-tagline {
    font-size: 32px; //Taille du sous-titre de la page
    text-align: left;
    color: #fff;
  }

  .btn { //Couleur des boutons
    background-color: #fff;
    color: #000000;
    border-color: #dddddd;
  }

  .btn:hover { //Couleur des boutons quand on passe la souris dessus
    background-color: #dddddd;
    color: #000000;
    border-color: #b0b0b0;
  }

  .lien_github {
    float: right;
    height: 50px;
  }
